* {
    margin: 0; 
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif;
 }
 
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 50vh;
     background: pink;
 }

 .login {
     width: 400px;
 }
 
 form {
     width: 350px;
     margin: 150px auto;
 }
 
 h1 {
     margin: 20px;
     text-align: center;
     font-weight: bolder;
     text-transform: uppercase;
 }
 
 hr {
     border-top: 2px solid blue;
 }
 
 p {
     text-align: center;
     margin: 25px;
 }
 
 form label {
     display: block;
     font-size: 16px;
     font-weight: 600;
     padding: 10px;
 }
 
 input {
     width: 100%;
     margin: 2px;
     border: none;
     outline: none;
     padding: 8px;
     border-radius: 15px;
     border: 1px solid gray;
 }
 
 button {
     border: none;
     outline: none;
     padding: 8px;
     width: 368px;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
     margin-top: 20px;
     border-radius: 15px;
     background: blue;
 }
 
 button:hover {
     background: rgba(40, 76, 129);
 }
 

 